{% block axisPreferencesTab %}
<div class="form-group text-center">
    <div class="btn-group btn-flat" data-toggle="buttons">
        <label class="btn btn-default active" title="Weighted Mean Chart">
            <input id="wmAxisSelected" name="whichChartAxis" type="radio" checked>WM
        </label>
        <label class="btn btn-default" title="Kernel Density Estimation Chart">
            <input id="kdeAxisSelected" name="whichChartAxis" type="radio">KDE
        </label>
    </div>

    <div class="btn-group btn-flat" data-toggle="buttons">
        <label class="btn btn-default active" title="Axis X">
            <input id="xAxisSelected" name="whichAxis" type="radio" checked>X
        </label>
        <label class="btn btn-default" title="Axis Y">
            <input id="yAxisSelected" name="whichAxis" type="radio">Y
        </label>
    </div>
</div>

<hr />

<div id="wm-axis-preferences">
    <h4 class="control-sidebar-heading text-center">Weighted Mean Chart</h4>
    <h4 class="control-sidebar-heading text-center xAxisStyles">Axis X</h4>
    <h4 class="control-sidebar-heading text-center yAxisStyles hidden">Axis Y</h4>
    <hr />
    {% block wmAxisPreferences %}
        {% include "tabs/wm.axis.preferences.tab.html" %}
    {% endblock %}
</div>

<div id="kde-axis-preferences" class="hidden">
    <h4 class="control-sidebar-heading text-center">Kernel Density Est. Chart</h4>
    <h4 class="control-sidebar-heading text-center xAxisStyles">Axis X</h4>
    <h4 class="control-sidebar-heading text-center yAxisStyles hidden">Axis Y</h4>
    <hr />
    {% block kdeAxisPreferences %}
        {% include "tabs/kde.axis.preferences.tab.html" %}
    {% endblock %}
</div>

<script type="text/javascript">
    $("input[name=whichAxis]:radio").change(function () {
        $('.xAxisStyles').toggleClass('hidden');
        $('.yAxisStyles').toggleClass('hidden');
    });

    $("input[name=whichChartAxis]:radio").change(function () {
        $('#wm-axis-preferences').toggleClass('hidden');
        $('#kde-axis-preferences').toggleClass('hidden');
    });
</script>
{% endblock %}