{% block chartPreferencesTab %}
<div class="form-group text-center">
    <div class="btn-group btn-flat" data-toggle="buttons">
        <label class="btn btn-default active">
            <input id="wm" name="whichChartPreferences" type="radio" checked>WM
        </label>
        <label class="btn btn-default">
            <input id="kde" name="whichChartPreferences" type="radio">KDE
        </label>
    </div>
</div>

<hr />
<div id="wm-preferences">
    <h4 class="control-sidebar-heading text-center">Weighted Mean Chart</h4>
    <hr />
    {% block wmPreferences %}
        {% include "tabs/wm.chart.preferences.tab.html" %}
    {% endblock %}
</div>

<div id="kde-preferences" class="hidden">
    <h4 class="control-sidebar-heading text-center">Kernel Density Est. Chart</h4>
    <hr />
    {% block kdePreferences %}
        {% include "tabs/kde.chart.preferences.tab.html" %}
    {% endblock %}
</div>

<script type="text/javascript">
    $('.collapse').on('shown.bs.collapse', function(){
        $($(this).attr('href')).find(".hidden-open").removeClass("hidden");
        $($(this).attr('href')).find(".hidden-close").addClass("hidden");
    }).on('hidden.bs.collapse', function(){
        $($(this).attr('href')).find(".hidden-close").removeClass("hidden");
        $($(this).attr('href')).find(".hidden-open").addClass("hidden");
    });
    $("input[name=whichChartPreferences]:radio").change(function () {
        $('#wm-preferences' ).toggleClass('hidden');
        $('#kde-preferences').toggleClass('hidden');
    });
</script>
{% endblock %}