{% block wmAxisPreferences %}
<!-- For X Axis -->
<div class="xAxisStyles">
    <!-- X Axis scale -->
    <h6 id="wm-x-axis-scale-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-x-axis-options">
        Axis Scale
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-x-axis-options" class="form-horizontal collapse" href="#wm-x-axis-scale-head">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label">Low</label>
            </div>
            <div class="col-xs-9">
                <input id="wmXAxisLow"
                       control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="-9007199254740991"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label control-type="number" class="control-label">High</label>
            </div>
            <div class="col-xs-9">
                <input id="wmXAxisHigh"
                       control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="-9007199254740991"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label">Divisor</label>
            </div>
            <div class="col-xs-9">
                <input id="wmXAxisDivisor" control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="1"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>
    </div>

    <!-- X Gridlines -->
    <hr />
    <h6 id="wm-x-axis-gridlines-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-x-axis-gridlines-options">
        Grid Lines
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-x-axis-gridlines-options" class="form-inline row collapse" href="#wm-x-axis-gridlines-head">
        <div class="form-group">
            <div class="checkbox">
                <input id="wmXGridCheckBox"  type="checkbox" control-type="checkbox" data-option="showGrid">
                <label for="wmXGridCheckBox" class="control-label">Grids</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <select id="wmXGridLineStroke"
                        class="selectpicker"
                        data-width="100%"
                        control-type="select"
                        data-title="Grid Line Stroke">
                    <option value="solid line">Solid Line</option>
                    <option value="dashed">Dashed</option>
                    <option value="points">Points</option>
                </select>
            </div>
            <div class="col-xs-3 no-padding-left">
                <input id="wmXGridLineWidth" class="form-control" control-type="real-number">
            </div>
            <div class="col-xs-2 no-padding">
                <input id="wmXGridLineColor" control-type="color" class="color form-control" type="button">
            </div>
        </div>
    </div>

    <!-- X Label -->
    <hr />
    <h6 id="wm-x-axis-label-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-x-axis-label-options">
        Labels
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-x-axis-label-options" class="form-inline row collapse" href="#wm-x-axis-label-head">
        <div class="form-group">
            <div class="checkbox">
                <input id="wmXLabelsCheckBox" type="checkbox" control-type="checkbox" checked>
                <label class="control-label" for="wmXLabelsCheckBox">Labels</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <select control-type="select" id="wmXLabelsFontFamilySelect" class="selectpicker font-families" data-width="100%"
                        data-title="Font Family">
                </select>
            </div>
            <div class="col-sm-4 no-padding-left">
                <input control-type="number"
                       class="form-control"
                       name="fontSizeNumber"
                       id="wmXLabelsFontSizeNumber"
                       data-width="100%"
                       data-title="Font Size"
                       data-min="1"
                       data-max="288">
            </div>
        </div>
        <div>
            <div class="col-sm-9 no-padding-right">
                <div class="btn-group" data-toggle="buttons">
                    <label title="Bold" class="btn btn-default"
                           data-css-property="font-style">
                        <input type="checkbox" control-type="checkbox" id="wmXLabelsFontBoldCheckBox" autocomplete="off" />
                        <i class="fa fa-bold"></i>
                    </label>
                    <label title="Italic" class="btn btn-default"
                           data-css-property="font-style">
                        <input type="checkbox" control-type="checkbox" id="wmXLabelsFontItalicCheckBox" autocomplete="off" />
                        <i class="fa fa-italic"></i>
                    </label>

                    <label title="Underline" class="btn btn-default"
                           data-css-property="font-decoration"
                           style="text-decoration: underline">
                        <input type="checkbox" control-type="checkbox" id="wmXLabelsFontUnderlineCheckBox" autocomplete="off" />
                        <i class="fa fa-underline"></i>
                    </label>

                    <label title="Strikethrough" class="btn btn-default"
                           data-css-property="font-decoration"
                           style="text-decoration: line-through">
                        <input type="checkbox" control-type="checkbox" id="wmXLabelsFontStrikethroughCheckBox" autocomplete="off" />
                        <i class="fa fa-strikethrough"></i>
                    </label>
                </div>
            </div>
            <div class="col-sm-2 no-padding">
                <input id="wmXLabelsFontColor" type="button" control-type="color"
                       class="color btn btn-flat" style="width: 100%;" title="Color" />
            </div>
        </div>
    </div>
</div>

<!-- For Y Axis -->
<div class="yAxisStyles hidden">
    <!-- Y Axis scale -->
    <h6 id="wm-y-axis-scale-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-y-axis-options">
        Axis Scale
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-y-axis-options" class="form-horizontal collapse" href="#wm-y-axis-scale-head">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label">Low</label>
            </div>
            <div class="col-xs-9">
                <input id="wmYAxisLow"
                       control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="-9007199254740991"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label control-type="number" class="control-label">High</label>
            </div>
            <div class="col-xs-9">
                <input id="wmYAxisHigh" control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="-9007199254740991"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label">Divisor</label>
            </div>
            <div class="col-xs-9">
                <input id="wmYAxisDivisor"
                       control-type="number"
                       data-forcestepdivisibility="none"
                       data-min="1"
                       data-max="+9007199254740991"
                       class="form-control" />
            </div>
        </div>
    </div>

    <!-- Y Gridlines -->
    <hr />
    <h6 id="wm-y-axis-gridlines-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-y-axis-gridlines-options">
        Grid Lines
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-y-axis-gridlines-options" class="form-inline row collapse" href="#wm-y-axis-gridlines-head">
        <div class="form-group">
            <div class="checkbox">
                <input id="wmYGridCheckBox"  type="checkbox" control-type="checkbox" data-option="showGrid">
                <label for="wmYGridCheckBox" class="control-label">Grids</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <select id="wmYGridLineStroke"
                        class="selectpicker"
                        data-width="100%"
                        control-type="select"
                        data-title="Grid Line Stroke">
                    <option value="solid line">Solid Line</option>
                    <option value="dashed">Dashed</option>
                    <option value="points">Points</option>
                </select>
            </div>
            <div class="col-xs-3 no-padding-left">
                <input id="wmYGridLineWidth" class="form-control" control-type="real-number">
            </div>
            <div class="col-xs-2 no-padding">
                <input id="wmYGridLineColor" control-type="color" class="color form-control" type="button">
            </div>
        </div>
    </div>

    <!-- Y Label -->
    <hr />
    <h6 id="wm-y-axis-label-head" class="control-sidebar-subheading collapsed"
        data-toggle="collapse" href="#wm-y-axis-label-options">
        Labels
        <span class="pull-right fa fa-angle-left hidden-close"></span>
        <span class="pull-right fa fa-angle-down hidden-open hidden"></span>
    </h6>
    <div id="wm-y-axis-label-options" class="form-inline row collapse" href="#wm-y-axis-label-head">
        <div class="form-group">
            <div class="checkbox">
                <input id="wmYLabelsCheckBox" type="checkbox" control-type="checkbox" checked>
                <label class="control-label" for="wmYLabelsCheckBox">Labels</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8">
                <select control-type="select" id="wmYLabelsFontFamilySelect" class="selectpicker font-families" data-width="100%"
                        data-title="Font Family">
                </select>
            </div>
            <div class="col-sm-4 no-padding-left">
                <input control-type="number"
                       class="form-control"
                       name="fontSizeNumber"
                       id="wmYLabelsFontSizeNumber"
                       data-width="100%"
                       data-title="Font Size"
                       data-min="1"
                       data-max="288">
            </div>
        </div>
        <div>
            <div class="col-sm-9 no-padding-right">
                <div class="btn-group" data-toggle="buttons">
                    <label title="Bold" class="btn btn-default"
                           data-css-property="font-style">
                        <input type="checkbox" control-type="checkbox" id="wmYLabelsFontBoldCheckBox" autocomplete="off" />
                        <i class="fa fa-bold"></i>
                    </label>
                    <label title="Italic" class="btn btn-default"
                           data-css-property="font-style">
                        <input type="checkbox" control-type="checkbox" id="wmYLabelsFontItalicCheckBox" autocomplete="off" />
                        <i class="fa fa-italic"></i>
                    </label>

                    <label title="Underline" class="btn btn-default"
                           data-css-property="font-decoration"
                           style="text-decoration: underline">
                        <input type="checkbox" control-type="checkbox" id="wmYLabelsFontUnderlineCheckBox" autocomplete="off" />
                        <i class="fa fa-underline"></i>
                    </label>

                    <label title="Strikethrough" class="btn btn-default"
                           data-css-property="font-decoration"
                           style="text-decoration: line-through">
                        <input type="checkbox" control-type="checkbox" id="wmYLabelsFontStrikethroughCheckBox" autocomplete="off" />
                        <i class="fa fa-strikethrough"></i>
                    </label>
                </div>
            </div>
            <div class="col-sm-2 no-padding">
                <input id="wmYLabelsFontColor" type="button" control-type="color"
                       class="color btn btn-flat" style="width: 100%;" title="Color" />
            </div>
        </div>
    </div>
</div>
{% endblock %}