{% block controlsidebar %}

<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
    <li class="active">
        <a href="#data-preferences" data-toggle="tab">
            <i class="fa fa-sliders"></i>
        </a>
    </li>
    <li>
        <a href="#chart-preferences" data-toggle="tab">
            <i class="fa fa-bar-chart"></i>
        </a>
    </li>
    <li>
        <a href="#axis-preferences" data-toggle="tab">
            <i class="fa fa-wrench">
            </i>
        </a>
    </li>
    <li>
        <a href="#series-preferences" data-toggle="tab">
            <i class="fa fa-signal">
            </i>
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- Data Preferences -->
    <div class="tab-pane active" id="data-preferences">
        {% block dataPreferencesTab %}
            {% include "tabs/data.preferences.tab.html" %}
        {% endblock %}
    </div>

    <!-- Chart Preferences -->
    <div class="tab-pane" id="chart-preferences">
        {% block chartPreferencesTab %}
        {% include "tabs/chart.preferences.tab.html" %}
        {% endblock %}
    </div>

    <!-- Axis Preferences -->
    <div class="tab-pane" id="axis-preferences">
        {% block axisPreferencesTab %}
        {% include "tabs/axis.preferences.tab.html" %}
        {% endblock %}
    </div>

    <!-- Series Preferences -->
    <div class="tab-pane" id="series-preferences">
        {% block seriesPreferencesTab %}
        {% include "tabs/series.preferences.tab.html" %}
        {% endblock %}
    </div>
</div>

{% endblock %}