{% block leftsidebar %}
<ul class="sidebar-menu">
    <!-- Weighted Mean -->
    <li class="header">Select Data</li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-plug"></i>
            <span>Weighted Mean</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <select id="valuesSelect"
                        data-title="Values"
                        class="selectpicker"
                        data-width="97%">
                </select>
            </li>
            <li>
                <select id="uncertaintiesSelect"
                        data-title="Uncertainties"
                        class="selectpicker"
                        data-width="97%">
                </select>
            </li>
        </ul>
    </li>

    <!-- Draw Button -->
    <li class="header">Plot Chart</li>
    <li class="treeview text-center">
        <button id="plotButton"
                class="btn btn-flat btn-primary inline"
                data-placement="bottom"
                type="button"
                data-toggle="tooltip"
                title="Plot Chart"
                style="margin-left: 2px; width: 95%;">
            <i class="fa fa-magic"></i>
            <span class="hidden-collapse">Plot</span>
        </button>
    </li>
</ul>
{% endblock %}