{% block dataPreferencesTab %}
<h4 class="control-sidebar-heading">Input Data</h4>
<div class="form-horizontal">
    <div class="form-group">
        <label for="uncertaintyInterpret" class="col-xs-4 control-label">Uncertainty</label>
        <div class="col-xs-8">
            <select control-type="select"
                    id="uncertaintyInterpret"
                    class="selectpicker"
                    data-width="100%"
                    data-title="Uncertainty">
                <option value=1>1 <i>&sigma;</i></option>
                <option value=2>2 <i>&sigma;</i></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="rejectionRange" class="col-xs-4 control-label">Rejection</label>
        <div class="col-xs-8">
            <select control-type="select"
                    id="rejectionRange"
                    class="selectpicker"
                    data-width="100%"
                    data-title="Rejection Range">
                <option value="0">No Rejection</option>
                <option value="1">Outside 1 <i>&sigma;</i></option>
                <option value="2">Outside 2 <i>&sigma;</i></option>
            </select>
        </div>
    </div>
</div>
<hr />

<h4 class="control-sidebar-heading">Output Uncertainty</h4>
<div class="form-horizontal">
    <div class="form-group">
        <label for="dataUncertainty" class="col-xs-4 control-label" style="text-align: left;">Data</label>
        <div class="col-xs-8">
            <select control-type="select"
                    id="dataUncertainty"
                    class="selectpicker"
                    data-width="100%"
                    data-title="Values Uncertainty">
                <option value=1>1 <i>&sigma;</i></option>
                <option value=2>2 <i>&sigma;</i></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="weightedAvgUncertainty" class="col-xs-4 control-label" style="text-align: left; padding-right: 0;">Wtd Avg</label>
        <div class="col-xs-8">
            <select control-type="select"
                    id="weightedAvgUncertainty"
                    class="selectpicker"
                    data-width="100%"
                    data-title="Weighted Average">
                <option value=1>1 <i>&sigma;</i></option>
                <option value=2>2 <i>&sigma;</i></option>
            </select>
        </div>
    </div>
</div>
<hr />

<h4 class="control-sidebar-heading">Kernel Density Estimation</h4>
<div class="form-horizontal">
    <div class="form-group">
        <label for="variablesCount" class="col-xs-7 control-label" style="text-align: left;">Variables Count</label>
        <div class="col-xs-12">
            <input id="variablesCount" control-type="slider" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="kernelFunction" class="col-xs-4 control-label">Function</label>
        <div class="col-xs-8">
            <select control-type="select"
                    id="kernelFunction"
                    title="Kernel Function"
                    data-title="Kernel Function"
                    class="selectpicker"
                    data-width="100%">
                <option value="gaussian" selected>Gaussian</option>
                <option value="epanechnikov">Epanechnikov</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="bandwidth" class="col-xs-4 control-label">Bandwidth</label>
        <div class="col-xs-8">
            <input id="bandwidth" control-type="real-number" class="form-control" />
        </div>
    </div>
</div>
<hr />

<h4 class="control-sidebar-heading">Reset to Defaults</h4>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12">
            <button id="resetAll"
                    class="btn btn-flat btn-adn btn-block inline"
                    data-placement="bottom"
                    type="button"
                    data-toggle="tooltip"
                    title="Reset All">
                <span class="hidden-collapse">Reset and Plot</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}