.sidebar-collapse .hidden-collapse {
    display: none;
}

.hidden-input {
    display: none !important;
}

.control-sidebar-heading {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.correct-select {
    margin-bottom: 100px;
}

.tab-pane .form-group {
    margin-bottom: 5px;
}

.control-label {
    font-weight: normal;
}

.cp-color-picker {
    z-index: 2000;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.margin-bottom {
    margin-bottom: 4px;
}

.form-inline .form-control {
    width: 100%;
}