{% extends "base.html" %}

{% block header %}
    {% include "components/header.html" %}
{% endblock %}

{% block controlsidebar %}
    {% include "components/control.sidebar.html" %}
{% endblock %}

{% block leftsidebar %}
    {% include "components/left.sidebar.html" %}
{% endblock %}

{% block dataplace %}
    {% include "data.template.html" %}
{% endblock %}

{% block chartplace %}
    {% include "chart.template.html" %}
{% endblock %}

{% block footer %}
    {% include "components/footer.html" %}
{% endblock %}
