<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>TV</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Multi</b> Tech Vis</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        {% block header %}
        {% endblock %}

        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" id="view"><i id="viewIcon" class="fa fa-columns"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% block leftsidebar %}
        {% endblock %}
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content no-padding">
        <!-- Your Page Content Here -->
        <div class="row">
            <div id="spreadsheet-container" class="col-sm-12">
                {% block dataplace %}
                {% endblock %}
            </div>
            <div id="chart-container" class="col-sm-12">
                {% block chartplace %}
                {% endblock %}
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
    {% block footer %}
    {% endblock %}
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">
    {% block controlsidebar %}
    {% endblock %}
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>