
<div id="chart-panel" class="box no-margin">
    <div class="box-header with-border">
        <h3 id="chart-panel-title" class="box-title"></h3>

        <div class="box-tools pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-save"></i></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="saveChartAsPng" href="#">Save as .png</a></li>
                    <li><a id="saveChartAsJpg" href="#">Save as .jpg</a></li>
                    <li><a id="saveChartAsSvg" href="#">Save as .svg</a></li>
                    <li><a id="saveChartAsPdf" href="#">Save as .pdf</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div id="chart-panel-body" class="box-body" style="overflow: scroll;">
        <div id="chart-shown" class="row">
            <div class="col-sm-12">
                <div id="weighted-mean-box">
                    <svg id="chart-box">
                        <svg id="title-box">
                            <text id="wm-title-text" dominant-baseline="text-before-edge" text-anchor="middle">
                            </text>
                            <text id="kde-title-text" dominant-baseline="text-before-edge" text-anchor="middle">
                            </text>
                        </svg>
                        <svg id="weighted-mean-chart-box"></svg>
                        <svg id="kde-chart-box"></svg>
                        <svg id="text-box">
                            <text id="wm-text-info" dominant-baseline="use-script" text-anchor="middle">
                                <tspan id="mean-info" dy="1.4em"></tspan>
                                <tspan id="rejected-info" dy="1.4em"></tspan>
                                <tspan id="mswd-info" dy="1.4em"></tspan>
                                <tspan id="error-bar-info" dy="1.4em"></tspan>
                            </text>

                            <text id="skewness-info" dominant-baseline="text-before-edge" text-anchor="middle">
                            </text>
                        </svg>
                    </svg>
                </div>
            </div>
        </div>

        <div id="chart-not-shown" class="row">
            <div class="col-lg-12">
                No data available
            </div>
        </div>
    </div>
</div>